@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');



/* global content */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    box-sizing: border-box;
    width: 100%;
}

body {
    width: 100%;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    background-color: #141418;
}

img {
    max-width: 1000px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}





/* Efecto de Puntero */

.binario {
    text-shadow:
        0 0 5px rgb(255, 255, 255),
        0 0 10px rgb(207, 207, 207),
        0 0 15px rgb(163, 163, 163),
        0 0 20px rgb(131, 131, 131);
    position: absolute;
    font-size: 20px;
    color: rgb(182, 182, 182);
    pointer-events: none;
    animation: desaparecer 4s forwards;
    transform: translate(-50%, -50%);
    font-family: 'Courier New', Courier, monospace;
    z-index: 99999;
}

@keyframes desaparecer {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-30px);
    }
}





/* header content */

.header {
    animation: border-img 1.5s infinite alternate;
    box-shadow:
        0 0 30px rgba(190, 190, 190, 0.8),
        0 0 40px rgba(131, 131, 131, 0.6),
        0 0 50px rgba(102, 102, 102, 0.4),
        0 0 60px rgba(94, 94, 94, 0.4);
    background-image: url(/assets/css/images/background.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #12121c;
    display: flex;
    align-items: center;
    min-height: 110vh;
    padding: 200px 0;
    position: relative;
    width: 100%;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.863);
    z-index: 1;
}

.header h1,
.header p {
    text-shadow:
        0 0 5px rgba(190, 190, 190, 0.8),
        0 0 10px rgba(131, 131, 131, 0.6),
        0 0 15px rgba(102, 102, 102, 0.4),
        0 0 20px rgba(94, 94, 94, 0.4);
    position: relative;
    z-index: 2;
}

.header-txt {
    text-align: center;
    padding: 0 150px;
    margin-left: 50px;
}

.header-txt span {
    text-shadow:
        0 0 10px rgb(190, 190, 190),
        0 0 15px rgb(131, 131, 131),
        0 0 20px rgba(102, 102, 102, 0.61),
        0 0 25px rgb(94, 94, 94);
    color: rgb(34, 34, 34);
}

.header-txt h1 {
    text-shadow:
        0 0 5px rgb(219, 219, 219),
        0 0 10px rgb(173, 173, 173),
        0 0 15px rgb(158, 158, 158),
        0 0 20px rgb(122, 122, 122);
    font-size: 55px;
    line-height: 1;
    color: #FFFFFF;
    margin-top: 100px;
    margin-bottom: 25px;
}


p {
    font-size: 17px;
    color: #D2d2d2;
    margin-bottom: 35px;
}




/* Menú y Logo */

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
    box-sizing: border-box;
}

.menu.blur {
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
}

.logo {
    margin-left: 10px;
    text-shadow: 0 0 5px rgb(255, 255, 255), 0 0 10px rgb(207, 207, 207), 0 0 15px rgb(163, 163, 163), 0 0 20px rgb(131, 131, 131);
    color: white;
    font-size: 18px;
    font-weight: 800;
    text-decoration: none;
    white-space: nowrap;
    transition: transform 0.5s ease, color 0.5s ease;
}

.logo:hover {
    transform: scale(1.05);
    color: #131313;
}

/* Icono del menú hamburguesa */

.menu-icon {
    display: block;
    cursor: pointer;
}

.menu-icon span {
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(190, 190, 190, 0.8), 0 0 15px rgba(131, 131, 131, 0.6), 0 0 20px rgba(102, 102, 102, 0.4), 0 0 30px rgba(94, 94, 94, 0.4);
    display: block;
    width: 30px;
    height: 4px;
    margin: 6px auto;
    background-color: #fff;
    position: relative;
    transition: all 0.4s ease;
    border: 2px solid rgba(255, 255, 255, 0.7);
}

/* Cambiar a X cuando se abre el menú */

#menu-toggle:checked+.menu-label .menu-icon span:nth-child(1) {
    transform: rotate(45deg);
    top: 10px;
}

#menu-toggle:checked+.menu-label .menu-icon span:nth-child(2) {
    opacity: 0;
}

#menu-toggle:checked+.menu-label .menu-icon span:nth-child(3) {
    transform: rotate(-45deg);
    top: -9px;
}

/* Ocultar el input del menú hamburguesa */

#menu-toggle {
    display: none;
}

/* Menú desplegable (se oculta inicialmente) */

.navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
    display: none;
    z-index: 999;
    padding: 0;
    margin: 0;
}

/* Mostrar el menú cuando se activa el toggle */

#menu-toggle:checked~.navbar {
    display: flex;
    flex-direction: column;
}

/* Lista de navegación */

.navbar ul {
    text-shadow: 0 0 5px rgb(255, 255, 255), 0 0 10px rgb(207, 207, 207), 0 0 15px rgb(163, 163, 163), 0 0 20px rgb(131, 131, 131);
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 17px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar ul li {
    text-align: center;
    width: auto;
    padding: 15px 0;
    display: block;
}

.navbar ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: inline-block;
    padding: 10px 5px;
    transition: transform 0.5s ease, color 0.5s ease;
}

.navbar ul li a:hover {
    color: #000000;
    transform: scale(1.05);
}

/* Ocultar el menú en desktop */

@media (min-width: 769px) {
    .navbar {
        display: flex;
        justify-content: space-around;
        position: relative;
        top: 0;
        background-color: transparent;
        padding: 0;
    }

    .menu-icon {
        display: none;
    }

    .navbar ul {
        margin-left: 500px;
        display: flex;
        gap: 20px;
        flex-direction: row;
        align-items: center;
    }
}














/* timer content */

.time-container {
    position: absolute;
    z-index: 2;
}

.time {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-left: 50px;
}

.time .circle {
    position: relative;
    top: -220px;
    right: -300px;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time .circle svg {
    border-radius: 290px;
    position: relative;
    width: 150px;
    height: 150px;
    animation: border-circle 1.5s infinite alternate;
    transform: rotate(270deg);
}

.time .circle svg circle {
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke-width: 8;
    stroke: #282828;
    stroke-linecap: round;
    transform: translate(5px, 5px);
}

.time .circle svg circle:nth-child(2) {
    stroke: var(--clr);
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}

.time div {
    text-shadow:
        0 0 5px rgba(255, 255, 255, 0.8),
        0 0 10px rgba(216, 216, 216, 0.6),
        0 0 15px rgba(145, 145, 145, 0.4),
        0 0 20px rgba(126, 126, 126, 0.4);
    position: absolute;
    text-align: center;
    font-weight: 500;
    color: #ffffff;
    font-size: 1.5em;
}

.time div span {
    text-shadow:
        0 0 5px rgba(255, 255, 255, 0.8),
        0 0 10px rgba(216, 216, 216, 0.6),
        0 0 15px rgba(145, 145, 145, 0.4),
        0 0 20px rgba(126, 126, 126, 0.4);
    position: absolute;
    transform: translateX(-50%) translateY(-10px);
    font-size: 0.35em;
    font-weight: 300;
    color: #ffffff;
}

.time .dots {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 1000;
}

.time .dots::before {
    content: '';
    position: absolute;
    top: -3px;
    width: 15px;
    height: 15px;
    background: var(--clr);
    border-radius: 50%;
    box-shadow: 0 0 20px var(--clr), 0 0 60px var(--clr);
}

/* Circle Animation */

@keyframes border-circle {
    0% {
        box-shadow:
            0 0 10px rgb(131, 131, 131),
            0 0 20px rgb(102, 102, 102),
            0 0 40px rgb(94, 94, 94);
    }

    50% {
        box-shadow:
            0 0 20px rgb(131, 131, 131),
            0 0 30px rgb(102, 102, 102),
            0 0 50px rgb(94, 94, 94);
    }

    100% {
        box-shadow:
            0 0 10px rgb(131, 131, 131),
            0 0 20px rgb(102, 102, 102),
            0 0 40px rgb(94, 94, 94);
    }
}




/*butons content*/

.butons {
    display: flex;
    justify-content: center;
}

.butons .btn-1 {
    text-shadow:
        0 0 15px rgba(190, 190, 190, 0.8),
        0 0 20px rgba(131, 131, 131, 0.6),
        0 0 25px rgba(102, 102, 102, 0.4),
        0 0 30px rgba(94, 94, 94, 0.4);
    display: inline-block;
    padding: 11px 35px;
    background: #12121cd2;
    color: #fdfeff;
    margin: 0 15px;
}

.btn-1 {
    display: inline-block;
    padding: 11px 35px;
    background: #12121cd2;
    box-shadow:
        0 0 15px rgba(190, 190, 190, 0.8),
        0 0 20px rgba(131, 131, 131, 0.6),
        0 0 25px rgba(102, 102, 102, 0.4),
        0 0 30px rgba(94, 94, 94, 0.4);
    color: #fdfeff;
    margin: 0 15px;
    z-index: 2;
    transition: all .5s;
    border-radius: 5px;
    font-weight: 600;
}

.btn-1:hover {
    cursor: pointer;
    background: #262635d0;
    box-shadow:
        0 0 5px rgba(190, 190, 190, 0.8),
        0 0 10px rgba(131, 131, 131, 0.6),
        0 0 15px rgba(102, 102, 102, 0.4),
        0 0 20px rgba(94, 94, 94, 0.4);
    transform: scale(1.08);
    color: #000;
    font-weight: 800;
}



/*information content*/

.information {
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    margin-top: -90px;
}

.information-1 {
    box-shadow:
        0 0 15px rgba(190, 190, 190, 0.8),
        0 0 20px rgba(131, 131, 131, 0.6),
        0 0 25px rgba(102, 102, 102, 0.4),
        0 0 30px rgba(94, 94, 94, 0.4);
    margin: 0 15px;
    background: #141418;
    padding: 15px;
    border-radius: 15px;
    z-index: 2;
    transition: all .5s;
}

.information-1:hover {
    cursor: pointer;
    background: #2a2a2e;
    transform: scale(1.08);
}

.information-1 h3 {
    text-shadow:
        0 0 5px rgba(190, 190, 190, 0.8),
        0 0 10px rgba(131, 131, 131, 0.6),
        0 0 15px rgba(102, 102, 102, 0.4),
        0 0 20px rgba(94, 94, 94, 0.4);
    color: #fdfeff;
    font-size: 18px;
}

.information-1 p {
    margin-bottom: 5px;
}

.information-1 a {
    color: #fdfeff;
}



/*cryto content*/

.crypto {
    padding: 150px 0 70px 0;
    max-width: 100vw;
    display: flex;
    align-items: center;
    background-color: #1b1b20;
    margin-top: -85px;
}

.crypto-img {
    flex-basis: 45%;
    margin: 0 0 0 50px;
}

.crypto-img img {
    box-shadow:
        0 0 30px rgba(190, 190, 190, 0.8),
        0 0 40px rgba(131, 131, 131, 0.6),
        0 0 50px rgba(102, 102, 102, 0.4),
        0 0 60px rgba(94, 94, 94, 0.4);
    width: 500px;
    border-radius: 20px;
    animation: border-img 1.5s infinite alternate;
}

.crypto-txt {
    text-shadow:
        0 0 10px rgb(190, 190, 190),
        0 0 15px rgb(131, 131, 131),
        0 0 20px rgba(102, 102, 102, 0.61),
        0 0 25px rgb(94, 94, 94);
    flex-basis: 50%;
}

.crypto-txt h2 {
    font-size: 40px;
    color: #fdfeff;
    line-height: 1.4;
}

.crypto-txt img {
    margin: 0;
}

.crypto span {
    text-shadow:
        0 0 10px rgb(190, 190, 190),
        0 0 15px rgb(131, 131, 131),
        0 0 20px rgba(102, 102, 102, 0.61),
        0 0 25px rgb(94, 94, 94);
    color: #000;
    font-weight: 800;
}

@keyframes border-img {
    0% {
        box-shadow:
            0 0 10px rgb(131, 131, 131),
            0 0 20px rgba(102, 102, 102, 0.61),
            0 0 40px rgb(94, 94, 94);
    }

    50% {
        box-shadow:
            0 0 20px rgb(131, 131, 131),
            0 0 40px rgba(102, 102, 102, 0.61),
            0 0 70px rgb(94, 94, 94);
    }

    100% {
        box-shadow:
            0 0 10px rgb(131, 131, 131),
            0 0 20px rgba(102, 102, 102, 0.61),
            0 0 40px rgb(94, 94, 94);
    }
}


/*about me content*/

.about-me {
    padding: 150px 0;
    max-width: 100vw;
    display: flex;
    align-items: center;
    margin-bottom: -70px;
}

.about-me1 {
    margin-right: 130px;
}

.about-me-img {
    flex-basis: 45%;
    margin: 0 0 0 50px;
}

.about-me-img img {
    box-shadow:
        0 0 30px rgba(190, 190, 190, 0.8),
        0 0 40px rgba(131, 131, 131, 0.6),
        0 0 50px rgba(102, 102, 102, 0.4),
        0 0 60px rgba(94, 94, 94, 0.4);
    animation: border-img 1.5s infinite alternate;
    width: 350px;
    height: 350px;
    border-radius: 210px;
}

.about-me-txt {
    white-space: nowrap;
    flex-basis: -50%;
}

.about-me video {
    box-shadow:
        0 0 30px rgba(190, 190, 190, 0.8),
        0 0 40px rgba(131, 131, 131, 0.6),
        0 0 50px rgba(102, 102, 102, 0.4),
        0 0 60px rgba(94, 94, 94, 0.4);
    animation: border-img 1.5s infinite alternate;
    width: 450px;
    height: 500px;
    object-fit: cover;
    justify-content: right;
    margin-right: 50px;
    margin-top: -70px;
    border-radius: 5px;
}

.about-me-txt span {
    text-shadow:
        0 0 5px rgba(190, 190, 190, 0.8),
        0 0 10px rgba(131, 131, 131, 0.6),
        0 0 15px rgba(102, 102, 102, 0.4),
        0 0 20px rgba(94, 94, 94, 0.4);
    color: #000;
    font-weight: 700;
}

.about-me-txt {
    text-shadow:
        0 0 5px rgb(190, 190, 190),
        0 0 10px rgb(131, 131, 131),
        0 0 15px rgb(102, 102, 102),
        0 0 20px rgb(94, 94, 94);
}

.about-me-txt ul {
    margin-bottom: 20px;
}

.about-me-txt li {
    color: #FFFF;
    font-weight: 500;
}

.about-me a:hover {
    color: #000;
    font-weight: 800;
    background: #3b3b46;
}





/*lives content*/

.lives {
    padding: 200px 0;
    max-width: 100vw;
    display: flex;
    align-items: center;
    background-color: #1b1b20;
    margin-top: -5px;
}

.lives {
    margin-left: 0;
    margin-right: 0;
}

.lives span {
    color: #12121c;
    font-weight: 800;
}

.lives-img {
    width: 80%;
    flex-basis: 45%;
    margin: 0 0 0 50px;
}

.lives-img img {
    box-shadow:
        0 0 30px rgba(190, 190, 190, 0.8),
        0 0 40px rgba(131, 131, 131, 0.6),
        0 0 50px rgba(102, 102, 102, 0.4),
        0 0 60px rgba(94, 94, 94, 0.4);
    animation: border-img 1.5s infinite alternate;
    width: 500px;
    border-radius: 20px;
}

.lives-txt {
    text-shadow:
        0 0 15px rgba(190, 190, 190, 0.8),
        0 0 20px rgba(131, 131, 131, 0.6),
        0 0 25px rgba(102, 102, 102, 0.4),
        0 0 30px rgba(94, 94, 94, 0.4);
    flex-basis: 55%;
}

.lives-txt {
    margin: 0;
}

.live-txt1 {
    margin-left: 50px;
}

.live-txt1 ul {
    margin-bottom: 25px;
}

.live-txt1 li {
    color: #ffff;
}

.live-txt1 a:hover {
    color: #000;
    font-weight: 700;
    background: #3b3b46;
}



/*work with me content*/

.work-with-me {
    padding: 200px 0;
    max-width: 100vw;
    display: flex;
    align-items: center;
}

.work-with-me {
    margin-left: 0;
    margin-right: 0;
}

.work-with-me-img {
    flex-basis: 45%;
    margin: 0 0 0 50px;
}

.work-with-me-img img {
    box-shadow:
        0 0 30px rgba(190, 190, 190, 0.8),
        0 0 40px rgba(131, 131, 131, 0.6),
        0 0 50px rgba(102, 102, 102, 0.4),
        0 0 60px rgba(94, 94, 94, 0.4);
    animation: border-img 1.5s infinite alternate;
    width: 500px;
    border-radius: 20px;
}

.work-with-me-txt {
    flex-basis: 50%;
}

.work-with-me-txt h2 {
    font-size: 40px;
    color: #fdfeff;
    line-height: 1.4;
}

.work-with-me-txt {
    text-shadow:
        0 0 5px rgba(190, 190, 190, 0.8),
        0 0 10px rgba(131, 131, 131, 0.6),
        0 0 15px rgba(102, 102, 102, 0.4),
        0 0 20px rgba(94, 94, 94, 0.4);
    margin: 0;
}

.work-with-me span {
    text-shadow:
        0 0 5px rgb(190, 190, 190),
        0 0 10px rgb(131, 131, 131),
        0 0 15px rgb(102, 102, 102),
        0 0 20px rgb(94, 94, 94);
    color: #000;
    font-weight: 700;
}

.work-with-me a {
    margin-top: 20px;
}

.work-with-me a:hover {
    color: #000;
    font-weight: 800;
}

.work-with-me li {
    text-shadow:
        0 0 8px rgba(190, 190, 190, 0.8),
        0 0 12px rgba(131, 131, 131, 0.6),
        0 0 17px rgba(255, 255, 255, 0.4),
        0 0 22px rgba(94, 94, 94, 0.4);
    color: #fdfeff;
}



/*redes content*/

#redes {
    background-color: #12121c;
    margin-top: -50px;
    position: relative;
}

#redes::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.856);
}

.redes {
    padding: 30px 0 300px 0;
    text-align: center;
    margin-top: 20px;
}

.redes-sociales {
    position: relative;
    box-shadow:
        0 0 10px rgba(190, 190, 190, 0.8),
        0 0 20px rgba(131, 131, 131, 0.6),
        0 0 30px rgba(102, 102, 102, 0.4),
        0 0 40px rgba(94, 94, 94, 0.4);
    border-radius: 15px;
    animation: border-redes 1.5s infinite alternate;
    transition: transform .5s;
}

.redes-sociales:hover {
    transform: scale(1.03);
}

.redes h2 {
    font-weight: 800;
    padding: 10px;
    text-shadow:
        0 0 10px rgba(255, 255, 255, 0.795),
        0 0 20px rgba(204, 204, 204, 0.685),
        0 0 30px rgba(173, 173, 173, 0.671),
        0 0 40px rgba(117, 117, 117, 0.562);
    z-index: 9999;
    margin-top: 150px;
    margin-bottom: 50px;
    border-radius: 5px;
    background: linear-gradient(90deg,
            rgba(84, 105, 210, 1) 0%,
            rgba(35, 43, 88, 1) 68%);
    position: relative;
    box-shadow:
        0 0 30px rgba(190, 190, 190, 0.8),
        0 0 40px rgba(131, 131, 131, 0.6),
        0 0 50px rgba(102, 102, 102, 0.4),
        0 0 60px rgba(94, 94, 94, 0.4);
    animation: border-redes 1.5s infinite alternate;
    transition: all .5s;
}

.redes h2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.747);
    z-index: -1;
    border-radius: 5px;
}

.redes h2:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.redes-background {
    background-color: #12121c;
    background-image: url(/assets/css/images/background-redes.gif);
    background-size: cover;
    background-repeat: no-repeat;
}

.redes-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: -50px;
    margin-top: 20px;
    z-index: 9999;
}

.redes-content a {
    z-index: 9999;
}

.redes-sociales h3 {
    margin-top: 10px;
    position: relative;
    text-shadow:
        0 0 5px rgb(190, 190, 190),
        0 0 10px rgb(131, 131, 131),
        0 0 15px rgb(102, 102, 102),
        0 0 20px rgb(94, 94, 94);
    z-index: 9999;
}

.redes h3 {
    color: #ffffff;
    margin-bottom: 15px;
    text-shadow:
        0 0 10px rgb(255, 255, 255),
        0 0 20px rgb(204, 204, 204),
        0 0 30px rgb(173, 173, 173),
        0 0 40px rgb(117, 117, 117);
    font-weight: 700;
}

.redes-sociales:hover h3 {
    color: #000000;
    transition: color 0.3s ease;
    font-weight: 800;
}

@keyframes border-redes {
    0% {
        box-shadow:
            0 0 10px rgb(131, 131, 131),
            0 0 20px rgba(102, 102, 102, 0.61),
            0 0 30px rgb(94, 94, 94);
    }

    50% {
        box-shadow:
            0 0 20px rgb(131, 131, 131),
            0 0 30px rgba(102, 102, 102, 0.61),
            0 0 50px rgb(94, 94, 94);
    }

    100% {
        box-shadow:
            0 0 10px rgb(131, 131, 131),
            0 0 20px rgba(102, 102, 102, 0.61),
            0 0 30px rgb(94, 94, 94);
    }
}

.tiktok {
    border-radius: 15px;
    background-position: center;
    background-image: url(/assets/css/images/tiktok.jpeg);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    background-size: cover;
    height: 100%;
    width: 100%;
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: transform 0.5s;
    position: relative;
}

.tiktok::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.603);
    z-index: 1;
    border-radius: 15px;
}

.tiktok::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.308);
    border-radius: 15px;
    z-index: -1;
    backdrop-filter: blur(0);
    transition: backdrop-filter 0.5s, opacity 0.5s;
    opacity: 0;
}

.tiktok:hover {
    cursor: pointer;
    transform: scale(1.01);
}

.tiktok:hover::after {
    backdrop-filter: blur(5px);
    opacity: 1;
}


.whatsapp {
    border-radius: 15px;
    background-position: center;
    background-image: url(/assets/css/images/whatsapp.jpeg);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: 9999;
    transition: transform 0.5s;
    position: relative;
}

.whatsapp::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.575);
    z-index: 1;
    border-radius: 15px;
}

.whatsapp::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.308);
    border-radius: 15px;
    z-index: -1;
    backdrop-filter: blur(0);
    transition: backdrop-filter 0.5s, opacity 0.5s;
    opacity: 0;
}

.whatsapp:hover {
    cursor: pointer;
    transform: scale(1.01);
}

.whatsapp:hover::after {
    backdrop-filter: blur(5px);
    opacity: 1;
}

.telegram {
    border-radius: 15px;
    background-position: center;
    background-image: url(/assets/css/images/telegram.jpeg);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: 9999;
    transition: transform 0.5s;
    position: relative;
}

.telegram::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.582);
    z-index: 1;
    border-radius: 15px;
}

.telegram::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.308);
    border-radius: 15px;
    z-index: -1;
    backdrop-filter: blur(0);
    transition: backdrop-filter 0.5s, opacity 0.5s;
    opacity: 0;
}

.telegram:hover {
    cursor: pointer;
    transform: scale(1.01);
}

.telegram:hover::after {
    backdrop-filter: blur(5px);
    opacity: 1;
}

.instagram {
    border-radius: 15px;
    background-position: center;
    background-image: url(/assets/css/images/instagram.jpeg);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: 9999;
    transition: transform 0.5s;
    position: relative;
}

.instagram::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.582);
    z-index: 1;
    border-radius: 15px;
}

.instagram::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.308);
    border-radius: 15px;
    z-index: -1;
    backdrop-filter: blur(0);
    transition: backdrop-filter 0.5s, opacity 0.5s;
    opacity: 0;
}

.instagram:hover {
    cursor: pointer;
    transform: scale(1.01);
}

.instagram:hover::after {
    backdrop-filter: blur(5px);
    opacity: 1;
}

.facebook {
    border-radius: 15px;
    background-position: center;
    background-image: url(/assets/css/images/facebook.jpeg);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: 9999;
    transition: transform 0.5s;
    position: relative;
}

.facebook::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.575);
    z-index: 1;
    border-radius: 15px;
}

.facebook::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.308);
    border-radius: 15px;
    z-index: -1;
    backdrop-filter: blur(0);
    transition: backdrop-filter 0.5s, opacity 0.5s;
    opacity: 0;
}

.facebook:hover {
    cursor: pointer;
    transform: scale(1.01);
}

.facebook:hover::after {
    backdrop-filter: blur(5px);
    opacity: 1;
}

.x {
    border-radius: 15px;
    background-position: center;
    background-image: url(/assets/css/images/x.jpeg);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: 9999;
    transition: transform 0.5s;
    position: relative;
}

.x::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.582);
    z-index: 1;
    border-radius: 15px;
}

.x::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.308);
    border-radius: 15px;
    z-index: -1;
    backdrop-filter: blur(0);
    transition: backdrop-filter 0.5s, opacity 0.5s;
    opacity: 0;
}

.x:hover {
    cursor: pointer;
    transform: scale(1.01);
}

.x:hover::after {
    backdrop-filter: blur(5px);
    opacity: 1;
}





/* price content */

.price {
    padding: 130px 0 100px 0;
    text-align: center;
}

.price-text {
    margin-top: -60px;
}

.price h2 {
    font-size: 50px;
    text-shadow:
        0 0 5px rgb(255, 255, 255),
        0 0 10px rgb(207, 207, 207),
        0 0 15px rgb(163, 163, 163),
        0 0 20px rgb(131, 131, 131);
    margin-bottom: 100px;
    color: #141414;
}

.price-1 h3 {
    text-shadow:
        0 0 5px rgb(175, 175, 175),
        0 0 10px rgb(138, 138, 138),
        0 0 15px rgb(95, 95, 95),
        0 0 20px rgb(71, 71, 71);
    color: #ffffff;
    font-size: 70px;
}

.price-1 li {
    text-shadow:
        0 0 5px rgb(255, 255, 255),
        0 0 10px rgb(207, 207, 207),
        0 0 15px rgb(163, 163, 163),
        0 0 20px rgb(131, 131, 131);
    color: #ffffff;
    margin-bottom: 15px;
    font-weight: 600;
}

.price span {
    text-shadow:
        0 0 5px rgb(255, 255, 255),
        0 0 10px rgb(207, 207, 207),
        0 0 15px rgb(163, 163, 163),
        0 0 20px rgb(131, 131, 131);
    color: #000;
    font-weight: 800;
    font-size: 20px;
}

.price strong {
    text-shadow:
        0 0 5px rgb(255, 255, 255),
        0 0 10px rgb(207, 207, 207),
        0 0 15px rgb(163, 163, 163),
        0 0 20px rgb(131, 131, 131);
    color: #000;
    font-weight: 800;
}

.price-content {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.price-1 {
    flex-basis: calc(33% - 20px);
    padding: 40px;
    box-shadow:
        0 0 30px rgba(190, 190, 190, 0.8),
        0 0 40px rgba(131, 131, 131, 0.6),
        0 0 50px rgba(102, 102, 102, 0.4),
        0 0 60px rgba(94, 94, 94, 0.4);
    animation: border-price 1.5s infinite alternate;
    border-radius: 15px;
    background-color: #222222;
    transition: all .3s;
}

.price-1:hover {
    cursor: pointer;
    background: linear-gradient(90deg,
            rgb(32, 32, 32) 0%,
            rgb(15, 15, 15) 68%);
    transform: scale(1.03);
}

.bg-pack li {
    color: #000;
    font-weight: 700;
}

.bg-pack {
    background: linear-gradient(90deg,
            rgb(92, 91, 91) 0%,
            rgb(49, 49, 49) 100%);
    margin-top: -50px;
}

.bg-pack:hover {
    cursor: pointer;
    background: linear-gradient(90deg,
            rgb(22, 22, 22) 0%,
            rgb(41, 41, 41) 68%);
}

.pack {
    text-shadow:
        0 0 5px rgb(255, 255, 255),
        0 0 10px rgb(207, 207, 207),
        0 0 15px rgb(163, 163, 163),
        0 0 20px rgb(131, 131, 131);
    color: #000000;
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 30px;
}

.unpago {
    color: #ffffff;
}

.pack-center {
    color: #fdfeff;
}

.paquetes {
    font-size: 20px;
    color: #4a63f3;
}

.pack-center {
    color: #000000;
    font-size: 20px;
    font-weight: bold;
}

@keyframes border-price {
    0% {
        box-shadow:
            0 0 10px rgb(131, 131, 131),
            0 0 20px rgba(102, 102, 102, 0.61),
            0 0 30px rgb(94, 94, 94);
    }

    50% {
        box-shadow:
            0 0 20px rgb(131, 131, 131),
            0 0 30px rgba(102, 102, 102, 0.61),
            0 0 50px rgb(94, 94, 94);
    }

    100% {
        box-shadow:
            0 0 10px rgb(131, 131, 131),
            0 0 20px rgba(102, 102, 102, 0.61),
            0 0 30px rgb(94, 94, 94);
    }
}



/*merch content*/

.merch-container {
    background-color: #1b1b20;
    padding: 100px 0;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    gap: 100px;
}

.whatsapp-button {
    display: inline-block;
    padding: 8px 35px;
    background: #12121cd2;
    text-shadow:
        0 0 5px rgba(190, 190, 190, 0.8),
        0 0 10px rgba(131, 131, 131, 0.6),
        0 0 15px rgba(102, 102, 102, 0.4),
        0 0 20px rgba(94, 94, 94, 0.4);
    box-shadow:
        0 0 15px rgba(190, 190, 190, 0.8),
        0 0 20px rgba(131, 131, 131, 0.6),
        0 0 25px rgba(102, 102, 102, 0.4),
        0 0 30px rgba(94, 94, 94, 0.4);
    color: #fdfeff;
    margin: 0 15px;
    z-index: 2;
    transition: all .5s;
    border-radius: 5px;
    font-weight: 800;
}

.whatsapp-button:hover {
    cursor: pointer;
    background: #262635d0;
    box-shadow:
        0 0 5px rgba(190, 190, 190, 0.8),
        0 0 10px rgba(131, 131, 131, 0.6),
        0 0 15px rgba(102, 102, 102, 0.4),
        0 0 20px rgba(94, 94, 94, 0.4);
    transform: scale(1.08);
    color: #000;
    font-weight: 800;
}


.merch {
    position: relative;
    width: 350px;
    height: 500px;
    background: #232323;
    overflow: hidden;
    border-radius: 20px;
    transition: all .5s;
}

.merch:hover {
    box-shadow: 0 1px 20px #969696;
    animation: border-price 1.5s infinite alternate;
    transform: scale(1.05);
}

.merch::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #3a3a3a;
    clip-path: circle(150px at 80% 20%);
    transform: .5s ease-in-out;
    transition: all .5s;
    z-index: 1;
}

.merch:hover::before {
    clip-path: circle(300px at 80% -20%);
}

.merch:after {
    content: "BTC";
    position: absolute;
    top: 30%;
    left: -20%;
    font-size: 12em;
    font-weight: 800;
    font-style: italic;
    color: rgba(225, 225, 225, 0.04);
}

.merch .merch-img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    width: 100%;
    height: 100%;
    transition: .5s;
}

.merch:hover .merch-img {
    top: 0%;
    transform: translateY(-25%);
}

.merch .merch-img img {
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 27%;
    left: 15%;
    transform: translateY(-50%, -50%) rotate(20deg);
    width: 240px;
    animation: merch-neon 3s infinite;
}

@keyframes merch-neon {

    0%,
    100% {
        filter: drop-shadow(0 0 5px rgba(131, 131, 131, )) drop-shadow(0 0 10px rgba(102, 102, 102, 0.61)) drop-shadow(0 0 15px rgba(94, 94, 94));
    }

    50% {
        filter: drop-shadow(0 0 10px rgba(131, 131, 131)) drop-shadow(0 0 20px rgba(102, 102, 102, 0.61)) drop-shadow(0 0 10px rgba(94, 94, 94));
    }
}

.merch .merch-content {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 90;
}

.merch:hover .merch-content {
    height: 240px;
}

.merch-content .info-merch {
    transition: .5s;
    opacity: 0;
    visibility: hidden;
}

.merch:hover .merch-content .info-merch {
    opacity: 1;
    visibility: visible;
    transition-delay: .5s;
}

.merch-content h2 {
    position: relative;
    text-shadow:
        0 0 10px rgb(190, 190, 190),
        0 0 15px rgb(131, 131, 131),
        0 0 20px rgba(102, 102, 102, 0.61),
        0 0 25px rgb(94, 94, 94);
    font-weight: 800;
    letter-spacing: 1px;
    color: #111111;
    font-size: 30px;
    animation: border-text 1.5s infinite alternate;
}

@keyframes border-text {
    0% {
        text-shadow:
            0 0 10px rgb(131, 131, 131),
            0 0 20px rgb(102, 102, 102),
            0 0 40px rgb(94, 94, 94);
    }

    50% {
        text-shadow:
            0 0 20px rgb(131, 131, 131),
            0 0 30px rgb(102, 102, 102),
            0 0 50px rgb(94, 94, 94);
    }

    100% {
        text-shadow:
            0 0 10px rgb(131, 131, 131),
            0 0 20px rgb(102, 102, 102),
            0 0 40px rgb(94, 94, 94);
    }
}

.merch-content .size {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: .5s;
    opacity: 0;
    visibility: hidden;
}

.merch:hover .merch-content .size {
    opacity: 1;
    visibility: visible;
    transition-delay: .5s;
}

.size span {
    text-shadow:
        0 0 10px rgb(190, 190, 190),
        0 0 15px rgb(131, 131, 131),
        0 0 20px rgba(102, 102, 102, 0.61),
        0 0 25px rgb(94, 94, 94);
    box-shadow:
        0 0 10px rgb(190, 190, 190),
        0 0 15px rgb(131, 131, 131),
        0 0 20px rgba(102, 102, 102, 0.61),
        0 0 25px rgb(94, 94, 94);
    width: 35px;
    height: 25px;
    text-align: center;
    display: grid;
    place-content: center;
    background: #111;
    color: #ffffff;
    margin: 0 5px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 4px;
    z-index: 10;
    cursor: pointer;
}

.size-list li span:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.size h3 {
    text-shadow:
        0 0 10px rgb(190, 190, 190),
        0 0 15px rgb(131, 131, 131),
        0 0 20px rgba(102, 102, 102, 0.61),
        0 0 25px rgb(94, 94, 94);
    color: #0c0c0c;
    font-weight: 800;
}

.size-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin-left: 10px;
}

.info-merch h3 {
    text-shadow:
        0 0 10px rgb(190, 190, 190),
        0 0 15px rgb(131, 131, 131),
        0 0 20px rgba(102, 102, 102, 0.61),
        0 0 25px rgb(94, 94, 94);
    color: #0c0c0c;
    font-weight: 800;
    color: #d6d6d6;
    margin-bottom: 10px;
}

.info-merch button {
    text-shadow:
        0 0 15px rgba(190, 190, 190, 0.8),
        0 0 20px rgba(131, 131, 131, 0.6),
        0 0 25px rgba(102, 102, 102, 0.4),
        0 0 30px rgba(94, 94, 94, 0.4);
    display: inline-block;
    box-shadow:
        0 0 15px rgba(190, 190, 190, 0.8),
        0 0 20px rgba(131, 131, 131, 0.6),
        0 0 25px rgba(102, 102, 102, 0.4),
        0 0 30px rgba(94, 94, 94, 0.4);
    padding: 11px 35px;
    background: #12121cd2;
    color: #fdfeff;
    transition: all .5s;
    margin: 0 15px;
    border-radius: 5px;
    border: none;
    font-weight: 800;
}

.merch-content button:hover {
    cursor: pointer;
    background: #262635d0;
    box-shadow:
        0 0 5px rgba(190, 190, 190, 0.8),
        0 0 10px rgba(131, 131, 131, 0.6),
        0 0 15px rgba(102, 102, 102, 0.4),
        0 0 20px rgba(94, 94, 94, 0.4);
    transform: scale(1.05);
    color: #000;
    font-weight: 800;
}

.info-merch span {
    text-shadow:
        0 0 10px rgb(190, 190, 190),
        0 0 15px rgb(131, 131, 131),
        0 0 20px rgba(102, 102, 102, 0.61),
        0 0 25px rgb(94, 94, 94);
    color: #0c0c0c;
    font-weight: 800;
}


/* Estilos del botón Go Top */

#goTop {
    box-shadow:
        0 0 10px rgb(190, 190, 190),
        0 0 15px rgb(131, 131, 131),
        0 0 20px rgba(102, 102, 102, 0.61),
        0 0 25px rgb(94, 94, 94);
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.63);
    backdrop-filter: blur(5px);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 10000;
}

#goTop i {
    text-shadow:
        0 0 10px rgb(190, 190, 190),
        0 0 15px rgb(131, 131, 131),
        0 0 20px rgba(102, 102, 102, 0.61),
        0 0 25px rgb(94, 94, 94);
    color: white;
}

#goTop.show {
    opacity: 1;
    visibility: visible;
    animation: bounceIn 0.5s ease, border-gotop 1.5s infinite alternate;
}

/* Animación para el botón */

@keyframes bounceIn {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    60% {
        transform: translateY(-10%);
        opacity: 1;
    }

    80% {
        transform: translateY(5%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes border-gotop {
    0% {
        box-shadow:
            0 0 10px rgb(131, 131, 131),
            0 0 20px rgba(102, 102, 102, 0.61),
            0 0 30px rgb(94, 94, 94);
    }

    50% {
        box-shadow:
            0 0 20px rgb(131, 131, 131),
            0 0 30px rgba(102, 102, 102, 0.61),
            0 0 40px rgb(94, 94, 94);
    }

    100% {
        box-shadow:
            0 0 10px rgb(131, 131, 131),
            0 0 20px rgba(102, 102, 102, 0.61),
            0 0 30px rgb(94, 94, 94);
    }
}


















@media (max-width:991px) {

    /* header content */

    .header {
        min-height: 0vh;
        padding: 400px 30px 80px 30px;
    }

    .header-txt {
        padding: 0;
    }

    .header-txt h1 {
        font-size: 45px;
        margin-left: -30px;
    }

    .butons {
        flex-direction: column;
        padding: 0 50px;
    }

    .btn-1 {
        margin: 0 0 20px 0;
    }



    /* menu content */

    .menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
    }

    .logo {
        font-size: 15px;
        margin-left: -5px;
    }






    /* time content */

    .time-container {
        margin-left: -350px;
        margin-right: 0;
        display: flex;
        align-items: center;
        align-content: center;
        margin-top: -430px;
        z-index: 9999;
    }

    .time {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }






    /* information content */

    .information {
        margin-top: 0;
        padding: 30px 30px 100px 30px;
        flex-direction: column;
    }

    .information-1 {
        margin: 0 0 20px 0;
    }



    /* crypto content */

    .crypto {
        padding: 80px 30px 50px 30px;
        flex-direction: column;
        justify-content: center;
    }

    .crypto-txt {
        text-align: center;
        margin-bottom: 30px;
    }

    .crypto-img {
        margin-left: -5px;
        order: 1;
    }

    .crypto-img img {
        width: 400px;
        height: 250px;
    }



    /* about me content */

    .about-me {
        padding: 30px 30px 100px 30px;
        flex-direction: column;
        justify-content: center;
    }

    .about-me-txt {
        text-align: center;
    }

    .about-me-img {
        margin: 30px 30px;
        order: 0;
    }

    .about-me video {
        order: 1;
        margin-left: 30px;
    }




    /* lives content */

    .lives {
        padding: 0 30px 30px 30px;
        flex-direction: column;
        justify-content: center;
    }

    .lives-txt {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 30px;
        margin-left: -20px;
    }

    .lives-img {
        order: 1;
        margin-left: -130px;
    }

    .lives-img img {
        width: 400px;
        height: 250px;
    }



    /* work with me content */

    .work-with-me {
        align-items: center;
        padding: 50px 30px 150px 30px;
        flex-direction: column;
    }

    .work-with-me-txt {
        text-align: center;
        margin-bottom: 30px;
    }

    .work-with-me-img {
        margin-left: -5px;
        margin-bottom: -60px;
        order: 1;
    }

    .work-with-me-img img {
        width: 400px;
        height: 250px;
    }



    /* redes content */

    .redes {
        padding: 5px 30px 30px 30px;
    }

    .redes-content {
        margin-bottom: 30px;
        grid-template-columns: repeat(1, 1fr);
    }



    /* price content */

    .price {
        padding: 120px;
        display: flex;
        margin-left: -50px;
    }

    .price-content {
        flex-direction: column;
        margin-top: -50px;
    }

    .bg-pack {
        margin-top: 10px;
    }

    .price-1 {
        margin-bottom: 30px;
    }



    /* merch content */

    .merch-container {
        flex-direction: column;
    }

    .merch {
        margin-bottom: -80px;
    }

}