@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    width: 100%;
}

body {
    width: 100%;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
    background-color: #141418;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

/* Cursor Effect */

.binario {
    text-shadow:
        0 0 5px rgb(255, 255, 255),
        0 0 10px rgb(207, 207, 207),
        0 0 15px rgb(163, 163, 163),
        0 0 20px rgb(131, 131, 131);
    position: absolute;
    font-size: 20px;
    color: rgb(182, 182, 182);
    pointer-events: none;
    animation: desaparecer 4s forwards;
    transform: translate(-50%, -50%);
    font-family: 'Courier New', Courier, monospace;
    z-index: 99999;
}

@keyframes desaparecer {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-30px);
    }
}

/* Header */

.header-content {
    margin-top: -50px;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.863);
    z-index: 1;
}

.header h1,
.header p {
    text-shadow:
        0 0 5px rgba(190, 190, 190, 0.8),
        0 0 10px rgba(131, 131, 131, 0.6),
        0 0 15px rgba(102, 102, 102, 0.4),
        0 0 20px rgba(94, 94, 94, 0.4);
}

.header-txt span {
    text-shadow:
        0 0 10px rgb(190, 190, 190),
        0 0 15px rgb(131, 131, 131),
        0 0 20px rgba(102, 102, 102, 0.61),
        0 0 25px rgb(94, 94, 94);
}

p {
    font-size: 17px;
    color: #D2d2d2;
    margin-bottom: 35px;
}

.btn-1 {
    text-shadow:
        0 0 15px rgba(190, 190, 190, 0.8),
        0 0 20px rgba(131, 131, 131, 0.6),
        0 0 25px rgba(102, 102, 102, 0.4),
        0 0 30px rgba(94, 94, 94, 0.4);
    box-shadow:
        0 0 15px rgba(190, 190, 190, 0.8),
        0 0 20px rgba(131, 131, 131, 0.6),
        0 0 25px rgba(102, 102, 102, 0.4),
        0 0 30px rgba(94, 94, 94, 0.4);
    transition: all .5s;
}

.btn-1:hover {
    cursor: pointer;
    background: #262635d0;
    box-shadow:
        0 0 5px rgba(190, 190, 190, 0.8),
        0 0 10px rgba(131, 131, 131, 0.6),
        0 0 15px rgba(102, 102, 102, 0.4),
        0 0 20px rgba(94, 94, 94, 0.4);
    transform: scale(1.08);
    color: #000;
    font-weight: 800;
}

.menu {
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}

.menu.blur {
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
}

.logo {
    text-shadow: 0 0 5px rgb(255, 255, 255), 0 0 10px rgb(207, 207, 207), 0 0 15px rgb(163, 163, 163), 0 0 20px rgb(131, 131, 131);
    transition: transform 0.5s ease, color 0.5s ease;
}

.logo:hover {
    transform: scale(1.05);
    color: #131313;
}

.menu-icon span {
    box-shadow: 0 0 10px rgba(190, 190, 190, 0.8), 0 0 15px rgba(131, 131, 131, 0.6), 0 0 20px rgba(102, 102, 102, 0.4), 0 0 30px rgba(94, 94, 94, 0.4);
    border: 2px solid rgba(255, 255, 255, 0.7);
    transition: all 0.4s ease;
}

#menu-toggle:checked+.menu-label .menu-icon span:nth-child(1) {
    transform: rotate(45deg);
    top: 10px;
}

#menu-toggle:checked+.menu-label .menu-icon span:nth-child(2) {
    opacity: 0;
}

#menu-toggle:checked+.menu-label .menu-icon span:nth-child(3) {
    transform: rotate(-45deg);
    top: -9px;
}

#menu-toggle:checked~.navbar {
    display: flex;
    flex-direction: column;
}

.navbar ul {
    text-shadow: 0 0 5px rgb(255, 255, 255), 0 0 10px rgb(207, 207, 207), 0 0 15px rgb(163, 163, 163), 0 0 20px rgb(131, 131, 131);
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 17px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

.navbar ul li {
    text-align: center;
    width: 100%;
    padding: 15px 0;
    display: block;
}

.navbar ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: inline-block;
    padding: 10px 5px;
    transition: transform 0.5s ease, color 0.5s ease;
}

.navbar ul li a:hover {
    color: #000000;
    transform: scale(1.05);
}

@media (min-width: 1025px) {
    .navbar {
        display: flex;
        justify-content: space-around;
        position: relative;
        top: 0;
        background-color: transparent;
        padding: 0;
    }

    .menu-icon {
        display: none;
    }

    .navbar ul {
        margin-left: 500px;
        display: flex;
        gap: 20px;
        flex-direction: row;
        align-items: center;
    }
}

.time .circle {
    position: relative;
    top: -180px;
    right: -300px;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time .circle svg {
    border-radius: 290px;
    position: relative;
    width: 150px;
    height: 150px;
    animation: border-circle 1.5s infinite alternate;
    transform: rotate(270deg);
}


.time .circle svg circle {
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke-width: 8;
    stroke: #282828;
    stroke-linecap: round;
    transform: translate(5px, 5px);
}

.time .circle svg circle:nth-child(2) {
    stroke: var(--clr);
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}

.time div {
    text-shadow:
        0 0 5px rgba(255, 255, 255, 0.8),
        0 0 10px rgba(216, 216, 216, 0.6),
        0 0 15px rgba(145, 145, 145, 0.4),
        0 0 20px rgba(126, 126, 126, 0.4);
    position: absolute;
    text-align: center;
    font-weight: 500;
    color: #ffffff;
    font-size: 1.5em;
}

.time div span {
    text-shadow:
        0 0 5px rgba(255, 255, 255, 0.8),
        0 0 10px rgba(216, 216, 216, 0.6),
        0 0 15px rgba(145, 145, 145, 0.4),
        0 0 20px rgba(126, 126, 126, 0.4);
    position: absolute;
    transform: translateX(-50%) translateY(-10px);
    font-size: 0.35em;
    font-weight: 300;
    color: #ffffff;
}

.time .dots {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 1000;
}

.time .dots::before {
    content: '';
    position: absolute;
    top: -3px;
    width: 15px;
    height: 15px;
    background: var(--clr);
    border-radius: 50%;
    box-shadow: 0 0 20px var(--clr), 0 0 60px var(--clr);
}

/* Circle Animation */

@keyframes border-circle {
    0% {
        box-shadow:
            0 0 10px rgb(131, 131, 131),
            0 0 20px rgb(102, 102, 102),
            0 0 40px rgb(94, 94, 94);
    }

    50% {
        box-shadow:
            0 0 20px rgb(131, 131, 131),
            0 0 30px rgb(102, 102, 102),
            0 0 50px rgb(94, 94, 94);
    }

    100% {
        box-shadow:
            0 0 10px rgb(131, 131, 131),
            0 0 20px rgb(102, 102, 102),
            0 0 40px rgb(94, 94, 94);
    }
}

.information {
    margin-top: -100px;
}

.information-1 {
    box-shadow:
        0 0 15px rgba(190, 190, 190, 0.8),
        0 0 20px rgba(131, 131, 131, 0.6),
        0 0 25px rgba(102, 102, 102, 0.4),
        0 0 30px rgba(94, 94, 94, 0.4);
    transition: all .5s;
}

.information-1:hover {
    cursor: pointer;
    background: #2a2a2e;
    transform: scale(1.03);
}

.information-1 h3 {
    text-shadow:
        0 0 5px rgba(190, 190, 190, 0.8),
        0 0 10px rgba(131, 131, 131, 0.6),
        0 0 15px rgba(102, 102, 102, 0.4),
        0 0 20px rgba(94, 94, 94, 0.4);
}

.crypto {
    max-width: 100vw;
    margin-top: -100px;
}

.crypto-img img {
    box-shadow:
        0 0 30px rgba(190, 190, 190, 0.8),
        0 0 40px rgba(131, 131, 131, 0.6),
        0 0 50px rgba(102, 102, 102, 0.4),
        0 0 60px rgba(94, 94, 94, 0.4);
    animation: border-img 1.5s infinite alternate;
}

.crypto-txt {
    text-shadow:
        0 0 10px rgb(190, 190, 190),
        0 0 15px rgb(131, 131, 131),
        0 0 20px rgba(102, 102, 102, 0.61),
        0 0 25px rgb(94, 94, 94);
}

@keyframes border-img {
    0% {
        box-shadow:
            0 0 10px rgb(131, 131, 131),
            0 0 20px rgba(102, 102, 102, 0.61),
            0 0 40px rgb(94, 94, 94);
    }

    50% {
        box-shadow:
            0 0 20px rgb(131, 131, 131),
            0 0 40px rgba(102, 102, 102, 0.61),
            0 0 70px rgb(94, 94, 94);
    }

    100% {
        box-shadow:
            0 0 10px rgb(131, 131, 131),
            0 0 20px rgba(102, 102, 102, 0.61),
            0 0 40px rgb(94, 94, 94);
    }
}

.about-me-img img {
    box-shadow:
        0 0 30px rgba(190, 190, 190, 0.8),
        0 0 40px rgba(131, 131, 131, 0.6),
        0 0 50px rgba(102, 102, 102, 0.4),
        0 0 60px rgba(94, 94, 94, 0.4);
    animation: border-img 1.5s infinite alternate;
    border-radius: 210px;
}

.about-me video {
    box-shadow:
        0 0 30px rgba(190, 190, 190, 0.8),
        0 0 40px rgba(131, 131, 131, 0.6),
        0 0 50px rgba(102, 102, 102, 0.4),
        0 0 60px rgba(94, 94, 94, 0.4);
    animation: border-img 1.5s infinite alternate;
}

.about-me-txt span {
    text-shadow:
        0 0 5px rgba(190, 190, 190, 0.8),
        0 0 10px rgba(131, 131, 131, 0.6),
        0 0 15px rgba(102, 102, 102, 0.4),
        0 0 20px rgba(94, 94, 94, 0.4);
}

.about-me {
    max-width: 100vw;
}

.lives {
    max-width: 100vw;
    margin-top: -5px;
}

.lives-img img {
    box-shadow:
        0 0 30px rgba(190, 190, 190, 0.8),
        0 0 40px rgba(131, 131, 131, 0.6),
        0 0 50px rgba(102, 102, 102, 0.4),
        0 0 60px rgba(94, 94, 94, 0.4);
    animation: border-img 1.5s infinite alternate;
}

.lives-txt {
    text-shadow:
        0 0 15px rgba(190, 190, 190, 0.8),
        0 0 20px rgba(131, 131, 131, 0.6),
        0 0 25px rgba(102, 102, 102, 0.4),
        0 0 30px rgba(94, 94, 94, 0.4);
}