@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html,
body {
  overflow: hidden;
  height: 100%;
  font-family: "Poppins", sans-serif;
  background-color: #141418;
  width: 100%;
}

#main-content {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

/* Cursor Effect */

.binario {
  text-shadow: 0 0 5px rgb(255, 255, 255), 0 0 10px rgb(207, 207, 207),
    0 0 15px rgb(163, 163, 163), 0 0 20px rgb(131, 131, 131);
  position: absolute;
  font-size: 20px;
  color: rgb(182, 182, 182);
  pointer-events: none;
  animation: desaparecer 4s forwards;
  transform: translate(-50%, -50%);
  font-family: "Courier New", Courier, monospace;
  z-index: 99999;
}

/* Header */

.header-content {
  margin-top: -50px;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.863);
  z-index: 1;
}

.header h1,
.header p {
  text-shadow: 0 0 5px rgba(190, 190, 190, 0.8),
    0 0 10px rgba(131, 131, 131, 0.6), 0 0 15px rgba(102, 102, 102, 0.4),
    0 0 20px rgba(94, 94, 94, 0.4);
}

.navbar ul li a {
  text-shadow: 0 0 5px rgb(255, 255, 255), 0 0 10px rgb(207, 207, 207),
    0 0 15px rgb(163, 163, 163), 0 0 20px rgb(131, 131, 131);
  transition: all 0.5s ease;
}

.navbar ul li a:hover {
  color: #000000;
  transform: scale(1.05);
}

.logo {
  text-shadow: 0 0 10px rgb(190, 190, 190), 0 0 15px rgb(131, 131, 131),
    0 0 20px rgba(102, 102, 102, 0.61), 0 0 25px rgb(94, 94, 94);
  transition: all 0.5s ease;
}

.header-txt span {
  text-shadow: 0 0 10px rgb(190, 190, 190), 0 0 15px rgb(131, 131, 131),
    0 0 20px rgba(102, 102, 102, 0.61), 0 0 25px rgb(94, 94, 94);
}

p {
  font-size: 17px;
  color: #d2d2d2;
  margin-bottom: 35px;
}

.menu {
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}

.blur {
  background-color: rgba(0, 0, 0, 0.87);
  backdrop-filter: blur(5px);
}

.menu-icon span {
  box-shadow: 0 0 10px rgba(190, 190, 190, 0.8),
    0 0 15px rgba(131, 131, 131, 0.6), 0 0 20px rgba(102, 102, 102, 0.4),
    0 0 30px rgba(94, 94, 94, 0.4);
  transition: all 0.4s ease;
  border: 2px solid rgba(255, 255, 255, 0.7);
}

#menu-toggle:checked + .menu-label .menu-icon span:nth-child(1) {
  transform: rotate(45deg);
  top: 10px;
}

#menu-toggle:checked + .menu-label .menu-icon span:nth-child(2) {
  opacity: 0;
}

#menu-toggle:checked + .menu-label .menu-icon span:nth-child(3) {
  transform: rotate(-45deg);
  top: -9px;
}

#menu-toggle:checked ~ .navbar {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1024px) {
  .navbar {
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 0;
    background-color: transparent;
    padding: 0;
  }

  .menu-icon {
    display: none;
  }

  .navbar ul {
    margin-left: 500px;
    display: flex;
    gap: 20px;
    flex-direction: row;
    align-items: center;
  }
}

.time .circle {
  position: relative;
  top: -180px;
  right: -300px;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.time .circle svg {
  border-radius: 290px;
  position: relative;
  width: 150px;
  height: 150px;
  animation: border-circle 1.5s infinite alternate;
  transform: rotate(270deg);
}

.time .circle svg circle {
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke-width: 8;
  stroke: #282828;
  stroke-linecap: round;
  transform: translate(5px, 5px);
}

.time .circle svg circle:nth-child(2) {
  stroke: var(--clr);
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}

.time div {
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.8),
    0 0 10px rgba(216, 216, 216, 0.6), 0 0 15px rgba(145, 145, 145, 0.4),
    0 0 20px rgba(126, 126, 126, 0.4);
  position: absolute;
  text-align: center;
  font-weight: 500;
  color: #ffffff;
  font-size: 1.5em;
}

.time div span {
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.8),
    0 0 10px rgba(216, 216, 216, 0.6), 0 0 15px rgba(145, 145, 145, 0.4),
    0 0 20px rgba(126, 126, 126, 0.4);
  position: absolute;
  transform: translateX(-50%) translateY(-10px);
  font-size: 0.35em;
  font-weight: 300;
  color: #ffffff;
}

.time .dots {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 1000;
}

.time .dots::before {
  content: "";
  position: absolute;
  top: -3px;
  width: 15px;
  height: 15px;
  background: var(--clr);
  border-radius: 50%;
  box-shadow: 0 0 20px var(--clr), 0 0 60px var(--clr);
}

/* Buttons */

.btn-1 {
  text-shadow: 0 0 15px rgba(190, 190, 190, 0.8),
    0 0 20px rgba(131, 131, 131, 0.6), 0 0 25px rgba(102, 102, 102, 0.4),
    0 0 30px rgba(94, 94, 94, 0.4);
  box-shadow: 0 0 15px rgba(190, 190, 190, 0.8),
    0 0 20px rgba(131, 131, 131, 0.6), 0 0 25px rgba(102, 102, 102, 0.4),
    0 0 30px rgba(94, 94, 94, 0.4);
  transition: all 0.5s;
}

.btn-1:hover {
  cursor: pointer;
  background: #262635d0;
  box-shadow: 0 0 5px rgba(190, 190, 190, 0.8),
    0 0 10px rgba(131, 131, 131, 0.6), 0 0 15px rgba(102, 102, 102, 0.4),
    0 0 20px rgba(94, 94, 94, 0.4);
  transform: scale(1.08);
  color: #000;
  font-weight: 800;
}

#goTop {
  box-shadow: 0 0 10px rgb(190, 190, 190), 0 0 15px rgb(131, 131, 131),
    0 0 20px rgba(102, 102, 102, 0.61), 0 0 25px rgb(94, 94, 94);
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.63);
  backdrop-filter: blur(5px);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease, all 0.5s ease;
  z-index: 20000;
}

#goTop:hover {
  transform: scale(1.05);
}

#goTop i {
  text-shadow: 0 0 10px rgb(190, 190, 190), 0 0 15px rgb(131, 131, 131),
    0 0 20px rgba(102, 102, 102, 0.61), 0 0 25px rgb(94, 94, 94);
  color: white;
}

#goTop.show {
  opacity: 1;
  visibility: visible;
  animation: bounceIn 0.5s ease, border-img 1.5s infinite alternate;
}

/* Trilema Crypto */

.information {
  margin-top: -100px;
}

.information-1 {
  box-shadow: 0 0 15px rgba(190, 190, 190, 0.8),
    0 0 20px rgba(131, 131, 131, 0.6), 0 0 25px rgba(102, 102, 102, 0.4),
    0 0 30px rgba(94, 94, 94, 0.4);
  transition: all 0.5s;
}

.information-1:hover {
  cursor: pointer;
  background: #2a2a2e;
  transform: scale(1.03);
}

.information-1 h3 {
  text-shadow: 0 0 5px rgba(190, 190, 190, 0.8),
    0 0 10px rgba(131, 131, 131, 0.6), 0 0 15px rgba(102, 102, 102, 0.4),
    0 0 20px rgba(94, 94, 94, 0.4);
}

/* Crypto Information */

.crypto {
  max-width: 100vw;
  margin-top: -100px;
}

.crypto-img img {
  box-shadow: 0 0 30px rgba(190, 190, 190, 0.8),
    0 0 40px rgba(131, 131, 131, 0.6), 0 0 50px rgba(102, 102, 102, 0.4),
    0 0 60px rgba(94, 94, 94, 0.4);
  animation: border-img 1.5s infinite alternate;
}

.crypto-txt {
  text-shadow: 0 0 10px rgb(190, 190, 190), 0 0 15px rgb(131, 131, 131),
    0 0 20px rgba(102, 102, 102, 0.61), 0 0 25px rgb(94, 94, 94);
}

/* Investment Calculator */

.calc-content {
  box-shadow: 0 0 30px rgba(190, 190, 190, 0.8),
    0 0 40px rgba(131, 131, 131, 0.6), 0 0 50px rgba(102, 102, 102, 0.4),
    0 0 60px rgba(94, 94, 94, 0.4);
  animation: border-circle 1.5s infinite alternate;
}

.calc-text {
  text-shadow: 0 0 5px rgba(190, 190, 190, 0.8),
    0 0 10px rgba(131, 131, 131, 0.6), 0 0 15px rgba(102, 102, 102, 0.4),
    0 0 20px rgba(94, 94, 94, 0.4);
}

/* About Me */

.about-me-img img {
  box-shadow: 0 0 30px rgba(190, 190, 190, 0.8),
    0 0 40px rgba(131, 131, 131, 0.6), 0 0 50px rgba(102, 102, 102, 0.4),
    0 0 60px rgba(94, 94, 94, 0.4);
  animation: border-img 1.5s infinite alternate;
  border-radius: 210px;
}

.about-me video {
  box-shadow: 0 0 30px rgba(190, 190, 190, 0.8),
    0 0 40px rgba(131, 131, 131, 0.6), 0 0 50px rgba(102, 102, 102, 0.4),
    0 0 60px rgba(94, 94, 94, 0.4);
  animation: border-img 1.5s infinite alternate;
}

.about-me-txt span {
  text-shadow: 0 0 5px rgba(190, 190, 190, 0.8),
    0 0 10px rgba(131, 131, 131, 0.6), 0 0 15px rgba(102, 102, 102, 0.4),
    0 0 20px rgba(94, 94, 94, 0.4);
}

.about-me {
  max-width: 100vw;
}

/* Live */

.lives {
  max-width: 100vw;
  margin-top: -5px;
}

.lives-img img {
  box-shadow: 0 0 30px rgba(190, 190, 190, 0.8),
    0 0 40px rgba(131, 131, 131, 0.6), 0 0 50px rgba(102, 102, 102, 0.4),
    0 0 60px rgba(94, 94, 94, 0.4);
  animation: border-img 1.5s infinite alternate;
}

.lives-txt {
  text-shadow: 0 0 15px rgba(190, 190, 190, 0.8),
    0 0 20px rgba(131, 131, 131, 0.6), 0 0 25px rgba(102, 102, 102, 0.4),
    0 0 30px rgba(94, 94, 94, 0.4);
}

/* Work With Me */

.work-with-me-img img {
  box-shadow: 0 0 30px rgba(190, 190, 190, 0.8),
    0 0 40px rgba(131, 131, 131, 0.6), 0 0 50px rgba(102, 102, 102, 0.4),
    0 0 60px rgba(94, 94, 94, 0.4);
  animation: border-img 1.5s infinite alternate;
}

.work-with-me-txt {
  text-shadow: 0 0 5px rgba(190, 190, 190, 0.8),
    0 0 10px rgba(131, 131, 131, 0.6), 0 0 15px rgba(102, 102, 102, 0.4),
    0 0 20px rgba(94, 94, 94, 0.4);
  margin: 0;
  margin-left: 5em;
  margin-top: 10px;
}

.work-with-me span {
  text-shadow: 0 0 5px rgb(190, 190, 190), 0 0 10px rgb(131, 131, 131),
    0 0 15px rgb(102, 102, 102), 0 0 20px rgb(94, 94, 94);
  color: #000;
  font-weight: 700;
}

/* Social Medias */

#redes::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.856);
}

.redes-sociales {
  position: relative;
  box-shadow: 0 0 10px rgba(190, 190, 190, 0.8),
    0 0 20px rgba(131, 131, 131, 0.6), 0 0 30px rgba(102, 102, 102, 0.4),
    0 0 40px rgba(94, 94, 94, 0.4);
  border-radius: 15px;
  animation: border-redes 1.5s infinite alternate;
}

.redes h2 {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.795),
    0 0 20px rgba(204, 204, 204, 0.685), 0 0 30px rgba(173, 173, 173, 0.671),
    0 0 40px rgba(117, 117, 117, 0.562);
  background: linear-gradient(
    90deg,
    rgba(84, 105, 210, 1) 0%,
    rgba(35, 43, 88, 1) 68%
  );
  box-shadow: 0 0 30px rgba(190, 190, 190, 0.8),
    0 0 40px rgba(131, 131, 131, 0.6), 0 0 50px rgba(102, 102, 102, 0.4),
    0 0 60px rgba(94, 94, 94, 0.4);
  animation: border-redes 1.5s infinite alternate;
  transition: all 0.5s;
}

.redes h2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.747);
  z-index: -1;
  border-radius: 5px;
}

.redes h3 {
  text-shadow: 0 0 10px rgb(255, 255, 255), 0 0 20px rgb(204, 204, 204),
    0 0 30px rgb(173, 173, 173), 0 0 40px rgb(117, 117, 117);
}

.redes-sociales:hover h3 {
  color: #000000;
  transition: color 0.3s ease;
  font-weight: 800;
}

.tiktok {
  background-image: url(./assets/images/tiktok.webp);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.tiktok::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.603);
  z-index: 1;
  border-radius: 15px;
  backdrop-filter: blur(0);
  transition: backdrop-filter 0.5s ease, opacity 0.5s ease;
}

.tiktok:hover::before {
  backdrop-filter: blur(5px);
  opacity: 1;
}

.whatsapp {
  background-image: url(./assets/images/whatsapp.webp);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.whatsapp::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.603);
  z-index: 1;
  border-radius: 15px;
  backdrop-filter: blur(0);
  transition: backdrop-filter 0.5s ease, opacity 0.5s ease;
}

.whatsapp:hover::before {
  backdrop-filter: blur(5px);
  opacity: 1;
}

.telegram {
  background-image: url(./assets/images/telegram.webp);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.telegram::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.603);
  z-index: 1;
  border-radius: 15px;
  backdrop-filter: blur(0);
  transition: backdrop-filter 0.5s ease, opacity 0.5s ease;
}

.telegram:hover::before {
  backdrop-filter: blur(5px);
  opacity: 1;
}

.instagram {
  background-image: url(./assets/images/instagram.webp);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.instagram::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.603);
  z-index: 1;
  border-radius: 15px;
  backdrop-filter: blur(0);
  transition: backdrop-filter 0.5s ease, opacity 0.5s ease;
}

.instagram:hover::before {
  backdrop-filter: blur(5px);
  opacity: 1;
}

.facebook {
  background-image: url(./assets/images/facebook.webp);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.facebook:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.603);
  z-index: 1;
  border-radius: 15px;
  backdrop-filter: blur(0);
  transition: backdrop-filter 0.5s ease, opacity 0.5s ease;
}

.facebook:hover::before {
  backdrop-filter: blur(5px);
  opacity: 1;
}

.x {
  background-image: url(./assets/images/x.webp);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.x::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.603);
  z-index: 1;
  border-radius: 15px;
  backdrop-filter: blur(0);
  transition: backdrop-filter 0.5s ease, opacity 0.5s ease;
}

.x:hover::before {
  backdrop-filter: blur(5px);
  opacity: 1;
}

/* Merch Crypto */

.merch:hover {
  box-shadow: 0 1px 20px #969696;
  animation: border-price 1.5s infinite alternate;
  transform: scale(1.05);
}

.merch::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #3a3a3a;
  clip-path: circle(150px at 80% 20%);
  transform: 0.5s ease-in-out;
  transition: all 0.5s;
  z-index: 1;
}

.merch:hover::before {
  clip-path: circle(300px at 80% -20%);
}

.merch:after {
  content: "BTC";
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: rgba(225, 225, 225, 0.04);
}

.merch .merch-img {
  transform: translateY(-50%);
  transition: 0.5s;
}

.merch:hover .merch-img {
  top: 0%;
  transform: translateY(-25%);
}

.merch .merch-img img {
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 27%;
  left: 15%;
  transform: translateY(-50%, -50%) rotate(20deg);
  width: 240px;
  animation: merch-neon 3s infinite;
}

.merch .merch-content {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 90;
}

.merch:hover .merch-content {
  height: 240px;
}

.merch-content .info-merch {
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.merch:hover .merch-content .info-merch {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}

.merch-content h2 {
  text-shadow: 0 0 10px rgb(190, 190, 190), 0 0 15px rgb(131, 131, 131),
    0 0 20px rgba(102, 102, 102, 0.61), 0 0 25px rgb(94, 94, 94);
  animation: border-text 1.5s infinite alternate;
}

.merch-content .size {
  transition: 0.5s;
}

.merch:hover .merch-content .size {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}

.size h3 {
  text-shadow: 0 0 10px rgb(190, 190, 190), 0 0 15px rgb(131, 131, 131),
    0 0 20px rgba(102, 102, 102, 0.61), 0 0 25px rgb(94, 94, 94);
}

.size span {
  text-shadow: 0 0 10px rgb(190, 190, 190), 0 0 15px rgb(131, 131, 131),
    0 0 20px rgba(102, 102, 102, 0.61), 0 0 25px rgb(94, 94, 94);
  box-shadow: 0 0 10px rgb(190, 190, 190), 0 0 15px rgb(131, 131, 131),
    0 0 20px rgba(102, 102, 102, 0.61), 0 0 25px rgb(94, 94, 94);
}

.info-merch span {
  text-shadow: 0 0 10px rgb(190, 190, 190), 0 0 15px rgb(131, 131, 131),
    0 0 20px rgba(102, 102, 102, 0.61), 0 0 25px rgb(94, 94, 94);
}

.price h2 {
  text-shadow: 0 0 5px rgb(255, 255, 255), 0 0 10px rgb(207, 207, 207),
    0 0 15px rgb(163, 163, 163), 0 0 20px rgb(131, 131, 131);
}

.price-1 h3 {
  text-shadow: 0 0 5px rgb(175, 175, 175), 0 0 10px rgb(138, 138, 138),
    0 0 15px rgb(95, 95, 95), 0 0 20px rgb(71, 71, 71);
}

.price-1 li {
  text-shadow: 0 0 5px rgb(255, 255, 255), 0 0 10px rgb(207, 207, 207),
    0 0 15px rgb(163, 163, 163), 0 0 20px rgb(131, 131, 131);
}

.price span {
  text-shadow: 0 0 5px rgb(255, 255, 255), 0 0 10px rgb(207, 207, 207),
    0 0 15px rgb(163, 163, 163), 0 0 20px rgb(131, 131, 131);
}

.price strong {
  text-shadow: 0 0 5px rgb(255, 255, 255), 0 0 10px rgb(207, 207, 207),
    0 0 15px rgb(163, 163, 163), 0 0 20px rgb(131, 131, 131);
  color: #000;
  font-weight: 800;
}

.price-1 {
  box-shadow: 0 0 30px rgba(190, 190, 190, 0.8),
    0 0 40px rgba(131, 131, 131, 0.6), 0 0 50px rgba(102, 102, 102, 0.4),
    0 0 60px rgba(94, 94, 94, 0.4);
  animation: border-img 1.5s infinite alternate;
  transition: all 0.3s;
}

.price-1:hover {
  background: linear-gradient(90deg, rgb(32, 32, 32) 0%, rgb(15, 15, 15) 68%);
}

.bg-pack li {
  color: #000;
  font-weight: 700;
}

.bg-pack li {
  color: #000;
  font-weight: 700;
}

.pack {
  text-shadow: 0 0 5px rgb(255, 255, 255), 0 0 10px rgb(207, 207, 207),
    0 0 15px rgb(163, 163, 163), 0 0 20px rgb(131, 131, 131);
}

.bg-pack {
  background: linear-gradient(90deg, rgb(92, 91, 91) 0%, rgb(49, 49, 49) 100%);
}

/* Animations */

@keyframes bounceIn {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  60% {
    transform: translateY(-10%);
    opacity: 1;
  }

  80% {
    transform: translateY(5%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes desaparecer {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-30px);
  }
}

@keyframes border-circle {
  0% {
    box-shadow: 0 0 10px rgb(131, 131, 131), 0 0 20px rgb(102, 102, 102),
      0 0 40px rgb(94, 94, 94);
  }

  50% {
    box-shadow: 0 0 20px rgb(131, 131, 131), 0 0 30px rgb(102, 102, 102),
      0 0 50px rgb(94, 94, 94);
  }

  100% {
    box-shadow: 0 0 10px rgb(131, 131, 131), 0 0 20px rgb(102, 102, 102),
      0 0 40px rgb(94, 94, 94);
  }
}

@keyframes border-img {
  0% {
    box-shadow: 0 0 10px rgb(131, 131, 131), 0 0 20px rgba(102, 102, 102, 0.61),
      0 0 40px rgb(94, 94, 94);
  }

  50% {
    box-shadow: 0 0 20px rgb(131, 131, 131), 0 0 40px rgba(102, 102, 102, 0.61),
      0 0 70px rgb(94, 94, 94);
  }

  100% {
    box-shadow: 0 0 10px rgb(131, 131, 131), 0 0 20px rgba(102, 102, 102, 0.61),
      0 0 40px rgb(94, 94, 94);
  }
}

@keyframes border-redes {
  0% {
    box-shadow: 0 0 10px rgb(131, 131, 131), 0 0 20px rgba(102, 102, 102, 0.61),
      0 0 30px rgb(94, 94, 94);
  }

  50% {
    box-shadow: 0 0 20px rgb(131, 131, 131), 0 0 30px rgba(102, 102, 102, 0.61),
      0 0 50px rgb(94, 94, 94);
  }

  100% {
    box-shadow: 0 0 10px rgb(131, 131, 131), 0 0 20px rgba(102, 102, 102, 0.61),
      0 0 30px rgb(94, 94, 94);
  }
}

@keyframes merch-neon {
  0%,
  100% {
    filter: drop-shadow(0 0 5px rgba(131, 131, 131))
      drop-shadow(0 0 10px rgba(102, 102, 102, 0.61))
      drop-shadow(0 0 15px rgba(94, 94, 94));
  }

  50% {
    filter: drop-shadow(0 0 10px rgba(131, 131, 131))
      drop-shadow(0 0 20px rgba(102, 102, 102, 0.61))
      drop-shadow(0 0 10px rgba(94, 94, 94));
  }
}

@keyframes border-text {
  0% {
    text-shadow: 0 0 10px rgb(131, 131, 131), 0 0 20px rgb(102, 102, 102),
      0 0 40px rgb(94, 94, 94);
  }

  50% {
    text-shadow: 0 0 20px rgb(131, 131, 131), 0 0 30px rgb(102, 102, 102),
      0 0 50px rgb(94, 94, 94);
  }

  100% {
    text-shadow: 0 0 10px rgb(131, 131, 131), 0 0 20px rgb(102, 102, 102),
      0 0 40px rgb(94, 94, 94);
  }
}